{% extends "base.html" %} {% block title %}Change password{% endblock %} {%
block content %}
<form method="POST">
  <h3 align="center">Change Password</h3>
  <dif class="form-group">
    <label for="password1">Enter new password</label>
    <input
      type="password1"
      class="form-control"
      id="password1"
      name="password1"
      placeholder="Enter password1"
    />
  </dif>
  <dif class="form-group">
    <label for="password2">Confirm new password</label>
    <input
      type="password2"
      class="form-control"
      id="password2"
      name="password2"
      placeholder="Enter password2"
    />
  </dif>
  <br />
  <button type="submit" class="btn btn-primary">Change password</button>
</form>
{% endblock %}
