{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<div class="container">
  <div class="row">
    <div class="col text-center">
      <img
        src="{{ url_for('static', filename='full-logo cutout-orange.png') }}"
        style="height: 80px"
        alt="PlebNet logo"
        loading="lazy"
      />
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <button
        id="activate"
        type="button"
        class="btn btn-success"
        onClick="refreshplebVPNdata({{ current_user.id }})"
      >
        Refesh Data
      </button>
      <button
        id="activate_loading"
        class="btn btn-success d-none"
        type="button"
        disabled
      >
        <span
          class="spinner-grow spinner-grow-sm"
          role="status"
          aria-hidden="true"
        ></span>
        Loading...
      </button>
    </div>
  </div>
</div>
<br />

<div class="container container-fluid">
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col text-center">
          <h2>Pleb-VPN Settings</h2>
        </div>
      </div>

      {% if plebVPN_status['message'] != null %}
      <div class="row">
        <div class="col text-center" style="border-top: 1px solid lightgrey">
          <h7>{{ plebVPN_status['message'] }}</h7>
        </div>
      </div>
      {% endif %}

      <div class="row">
        <div class="col" style="border-top: 1px solid lightgrey">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Setting</th>
                <th scope="col">Value</th>
                <th scope="col">Link</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">VPN Connection Status</th>
                <td>{{ setting['plebvpn'] }}</td>
                <td>
                  <a
                    href="/pleb-VPN"
                    class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                    >Pleb-VPN Settings</a
                  >
                </td>
              </tr>
              {% if setting['plebvpn'] == "on" %}
              <tr>
                <th scope="row">VPN IP</th>
                <td>{{ setting['vpnip'] }}</td>
              </tr>
              {% endif %} {% if lnd %}
              <tr>
                <th scope="row">LND Hybrid Status</th>
                <td>{{ setting['lndhybrid'] }}</td>
                <td>
                  <a
                    href="/hybrid"
                    class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                    >Hybrid Settings</a
                  >
                </td>
              </tr>
              {% if setting['lndhybrid'] == "on" %}
              <tr>
                {% if lnd_hybrid_status['address0Type'] == 'torv3' %}
                <th scope="row">LND Tor Address</th>
                {% else %}
                <th scope="row">LND IPV4 Address</th>
                {% endif %}
                <td>
                  {{ lnd_hybrid_status['Node_ID'] }}@{{
                  lnd_hybrid_status['address0'] }}
                </td>
              </tr>
              <tr>
                {% if lnd_hybrid_status['address1Type'] == 'torv3' %}
                <th scope="row">LND Tor Address</th>
                {% else %}
                <th scope="row">LND IPV4 Address</th>
                {% endif %}
                <td>
                  {{ lnd_hybrid_status['Node_ID'] }}@{{
                  lnd_hybrid_status['address1'] }}
                </td>
              </tr>
              {% endif %} {% endif %} {% if cln %}
              <tr>
                <th scope="row">CLN Hybrid Status</th>
                <td>{{ setting['clnhybrid'] }}</td>
                <td>
                  <a
                    href="/hybrid"
                    class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                    >Hybrid Settings</a
                  >
                </td>
              </tr>
              {% endif %}
              <tr>
                <th scope="row">Wireguard LAN Status</th>
                <td>{{ setting['wireguard'] }}</td>
                <td>
                  <a
                    href="/wireguard"
                    class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                    >Wireguard Settings</a
                  >
                </td>
              </tr>
              <tr>
                <th scope="row">Tor Split-Tunnel Status</th>
                <td>{{ setting['torsplittunnel'] }}</td>
                <td>
                  <a
                    href="/torsplittunnel"
                    class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                    >Tor Split-Tunnel Settings</a
                  >
                </td>
              </tr>
              <tr>
                <th scope="row">LetsEncrypt Status</th>
                <td>{{ setting['letsencrypt_ssl'] }}</td>
                <td>
                  <a
                    href="/letsencrypt"
                    class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"
                    >LetsEncrypt Settings</a
                  >
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      {% if setting['wireguard'] == "on" %}
      <div class="row">
        <div class="col text-center">
          <p>
            Use the Wireguard page to download client config files or qr codes.
          </p>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <h2>Pleb-VPN Status</h2>
    </div>
  </div>
  {% if update_available == True %}
  <div class="row">
    <div class="col text-center" style="border-top: 1px solid lightgrey">
      <h7>A new version is available</h7>
    </div>
  </div>
  {% else %}
  <div class="row">
    <div class="col text-center" style="border-top: 1px solid lightgrey">
      <h7>Pleb-VPN is up to date.</h7>
    </div>
  </div>
  {% endif %}
  <div class="row">
    <div class="col" style="border-top: 1px solid lightgrey">
      <table class="table">
        <tbody>
          <tr>
            <th scope="row">Current Version</th>
            <td>{{ setting['version'] }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  {% if update_available == True %}
  <div class="row">
    <div class="col text-center">
      <p>
        A Pleb-VPN update is available. To update, click "Update Pleb-VPN".
        Pleb-VPN will update and restart. Your settings will be unaffected. You
        will have to refresh the page once the update is complete (usually about
        a minute).
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <button id="update-scripts" type="button" class="btn btn-primary">
        Update Pleb-VPN
      </button>
      <button
        id="update-scripts_loading"
        class="btn btn-primary d-none"
        type="button"
        disabled
      >
        <span
          class="spinner-grow spinner-grow-sm"
          role="status"
          aria-hidden="true"
        ></span>
        Loading...
      </button>
    </div>
  </div>
  {% endif %}
  <div class="row">
    <div class="col text-center">
      <h5>Uninstall Pleb-VPN</h5>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <button id="uninstall-plebvpn" type="button" class="btn btn-danger">
        Uninstall Pleb-VPN
      </button>
    </div>
  </div>
</div>
<script>
  var socket = io.connect("http://" + document.domain + ":" + location.port);
  $("#update-scripts").click(function () {
    event.preventDefault();
    if (
      confirm_dialog(
        (message =
          "Pleb-VPN will restart. Your settings will be unchanged. Are you sure you want to update Pleb-VPN?")
      ) == true
    ) {
      var updateBtn = document.getElementById("update-scripts");
      if (updateBtn !== null) {
        updateBtn.classList.add("d-none");
      }
      var updateLoading = document.getElementById("update-scripts_loading");
      if (updateLoading !== null) {
        updateLoading.classList.remove("d-none");
      }
      socket.emit("update_scripts");
    }
  });
  $("#uninstall-plebvpn").click(function () {
    event.preventDefault();
    if (
      confirm_dialog(
        (message =
          "This will completely remove Pleb-VPN and all services from your node, restoring it to its original configuration. Are you sure you want to uninstall Pleb-VPN?")
      ) == true
    ) {
      socket.emit("uninstall-plebvpn");
    }
  });
</script>
{% endblock %}
