{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<div class="container">
  <div class="row">
    <div class="col text-center">
      <img
        src="{{ url_for('static', filename='full-logo cutout-orange.png') }}"
        style="height: 80px"
        alt="PlebNet logo"
        loading="lazy"
      />
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <button
        id="activate"
        type="button"
        class="btn btn-success"
        onClick="refreshplebVPNdata({{ current_user.id }})"
      >
        Refesh Data
      </button>
      <button
        id="activate_loading"
        class="btn btn-success d-none"
        type="button"
        disabled
      >
        <span
          class="spinner-grow spinner-grow-sm"
          role="status"
          aria-hidden="true"
        ></span>
        Loading...
      </button>
    </div>
  </div>
</div>
<br />

<div class="container container-fluid">
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col">
          <h2 align="center">VPN Status</h2>
        </div>
      </div>

      {% if plebVPN_status['message'] != null %}
      <div class="row">
        <div class="col text-center" style="border-top: 1px solid lightgrey">
          <h7>{{ plebVPN_status['message'] }}</h7>
        </div>
      </div>
      {% endif %}

      <div class="row">
        <div class="col" style="border-top: 1px solid lightgrey">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Setting</th>
                <th scope="col">Value</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Pleb-VPN Status</th>
                <td>{{ setting['plebVPN'] }}</td>
              </tr>
              <tr>
                <th scope="row">Pleb-VPN Operating</th>
                <td>{{ plebVPN_status['vpn_operating'] }}</td>
              </tr>
              {% if setting['plebVPN'] == "on" %}
              <tr>
                <th scope="row">Current IP</th>
                <td>{{ plebVPN_status['current_ip'] }}</td>
              </tr>
              <tr>
                <th scope="row">Pleb-VPN IP</th>
                <td>{{ setting['vpnIP'] }}</td>
              </tr>
              <tr>
                <th scope="row">Pleb-VPN Port for VPS</th>
                <td>{{ setting['vpnPort'] }}</td>
              </tr>
              <tr>
                <th scope="row">Firewall Config OK</th>
                <td>{{ plebVPN_status['firewall_configured'] }}</td>
              </tr>
              {% endif %}
              <tr>
                <th scope="row">VPN config file exists</th>
                <td>{{ plebVPN_status['config_exists'] }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col">
          <h2 align="center">LND Hybrid Status</h2>
        </div>
      </div>
      <div class="row">
        <div class="col" style="border-top: 1px solid lightgrey">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Setting</th>
                <th scope="col">Value</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">LND Alias</th>
                <td>{{ lnd_hybrid_status['Alias'] }}</td>
              </tr>
              <tr>
                <th scope="row">LND Node ID</th>
                <td>{{ lnd_hybrid_status['Node_ID'] }}</td>
              </tr>
              <tr>
                <th scope="row">LND Hybrid Status</th>
                <td>{{ setting['lndHybrid'] }}</td>
              </tr>
              <tr>
                <th scope="row">LND Hybrid Port</th>
                <td>{{ setting['lnPort'] }}</td>
              </tr>
              <tr>
                {% if lnd_hybrid_status['address0Type'] == 'torv3' %}
                <th scope="row">LND Tor Address</th>
                {% else %}
                <th scope="row">LND IPV4 Address</th>
                {% endif %}
                <td>{{ lnd_hybrid_status['address0'] }}</td>
              </tr>
              {% if setting['lndHybrid'] == "on" %}
              <tr>
                {% if lnd_hybrid_status['address1Type'] == 'torv3' %}
                <th scope="row">LND Tor Address</th>
                {% else %}
                <th scope="row">LND IPV4 Address</th>
                {% endif %}
                <td>{{ lnd_hybrid_status['address1'] }}</td>
              </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="row">
        <div class="col">
          <h2 align="center">Wireguard LAN Status</h2>
        </div>
      </div>

      {% if wireguard_status['message'] != null %}
      <div class="row">
        <div class="col text-center" style="border-top: 1px solid lightgrey">
          <h7 align="center">{{ wireguard_status['message'] }}</h7>
        </div>
      </div>
      {% endif %}

      <div class="row">
        <div class="col" style="border-top: 1px solid lightgrey">
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Setting</th>
                <th scope="col">Value</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Wireguard Status</th>
                <td>{{ setting['wireguard'] }}</td>
              </tr>
              {% if setting['wgPort'] != "" %}
              <tr>
                <th scope="row">Wireguard Port</th>
                <td>{{ setting['wgPort'] }}</td>
              </tr>
              {% endif %}
              <tr>
                <th scope="row">Existing config found</th>
                <td>{{ wireguard_status['config_file_found'] }}</td>
              </tr>
              {% if setting['wireguard'] == "on" %}
              <tr>
                <th scope="row">Wireguard Operating</th>
                <td>{{ wireguard_status['operating'] }}</td>
              </tr>
              <tr>
                <th scope="row">Wireguard Node IP</th>
                <td>{{ wireguard_status['server_IP'] }}</td>
              </tr>
              {% endif %}
            </tbody>
          </table>
        </div>
      </div>
      {% if setting['wireguard'] == "on" %}
      <div class="row">
        <div class="col text-center">
          <p>
            Use the Wireguard page in the settings menu to download client
            config files or qr codes.
          </p>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
  <div class="row">
    <div class="col">
      <div class="row">
        <h2 align="center">Update Pleb-VPN</h2>
      </div>
      <div class="row">
        <div class="col" style="border-top: 1px solid lightgrey">
          <table class="table">
            <tbody>
              <tr>
                <th scope="row">Current Version</th>
                <td>{{ setting['version'] }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      {% if update_available == False %}
      <div class="row">
        <div class="col text-center">
          <button id="update-scripts" type="button" class="btn btn-success">
            Update Pleb-VPN
          </button>
        </div>
      </div>
      <div class="row">
        <div id="output"></div>
      </div>
      <div class="row">
        <div class="col text-center">
          <button id="enter-button" type="button" class="btn btn-primary">
            Enter
          </button>
        </div>
      </div>
      {% else %}
      <div class="row">
        <div class="col text-center">
          <button id="reboot-button" type="button" class="btn btn-primary">
            Reboot (needs systemd server to work)
          </button>
        </div>
      </div>
      {% endif %}
    </div>
  </div>
</div>
<script>
  var socket = io.connect("http://" + document.domain + ":" + location.port);
  socket.on("output", function (data) {
    $("#output").append(data + "<br>");
  });
  $("#update-scripts").click(function () {
    socket.emit("update_scripts");
  });
  $("#enter-button").click(function () {
    socket.emit("enter_input");
  });
  $("#reboot-button").click(function () {
    socket.emit("start_reboot");
  });
  socket.on("update_complete", function (data) {
    var message = data.message;
    var category = data.category;
    var url =
      "/?message=" +
      encodeURIComponent(message) +
      "&category=" +
      encodeURIComponent(category);
    window.location.href = url;
  });
</script>
{% endblock %}
