{% extends "base.html" %} {% block title %}Home{% endblock %} {% block content
%}
<div class="container text-center">
  <div class="row">
    <div class="col">
      <img
        src="{{ url_for('static', filename='PlebNet_logo.png') }}"
        height="50"
        alt="PlebNet logo"
        loading="lazy"
      />
    </div>
    <div class="col-6">
      <h1>Pleb-VPN</h1>
    </div>
    <div class="col">
      <img
        src="{{ url_for('static', filename='OpenVPN_logo.png') }}"
        height="50"
        alt="OpenVPN logo"
        loading="lazy"
      />
    </div>
  </div>
</div>
<br />

<div class="container container-fluid">
  <div class="row">
    <div class="col">
      <h2 align="center">Status</h2>
    </div>
  </div>

  {% if plebVPN_status['message'] != null %}
  <div class="row">
    <div class="col" style="border-top: 1px solid lightgrey">
      <h5 align="center">{{ plebVPN_status['message'] }}</h5>
    </div>
  </div>
  {% endif %}

  <div class="row">
    <div class="col" style="border-top: 1px solid lightgrey">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Setting</th>
            <th scope="col">Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Pleb-VPN Status</th>
            <td>{{ setting['plebVPN'] }}</td>
          </tr>
          <tr>
            <th scope="row">Pleb-VPN Operating</th>
            <td>{{ plebVPN_status['vpn_operating'] }}</td>
          </tr>
          <tr>
            <th scope="row">Current IP</th>
            <td>{{ plebVPN_status['current_ip'] }}</td>
          </tr>
          {% if setting['plebVPN'] == "on" %}
          <tr>
            <th scope="row">Pleb-VPN IP</th>
            <td>{{ setting['vpnIP'] }}</td>
          </tr>
          <tr>
            <th scope="row">Pleb-VPN Port for VPS</th>
            <td>{{ setting['vpnPort'] }}</td>
          </tr>
          {% endif %}
          <tr>
            <th scope="row">VPN config file exists</th>
            <td>{{ plebVPN_status['config_exists'] }}</td>
          </tr>
          <tr>
            <th scope="row">Firewall Config OK</th>
            <td>{{ plebVPN_status['firewall_configured'] }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!--   <div class="row">
    <div class="col" style="border-top: 1px solid lightgrey">
      <p>Pleb-VPN Status</p>
    </div>
    <div
      class="col-8"
      style="border-top: 1px solid lightgrey; border-left: 1px solid lightgrey"
    >
      <p>{{ setting['plebVPN'] }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col" style="border-top: 1px solid lightgrey">
      <p>Pleb-VPN Operating</p>
    </div>
    <div
      class="col-8"
      style="border-top: 1px solid lightgrey; border-left: 1px solid lightgrey"
    >
      <p>{{ plebVPN_status['vpn_operating'] }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col" style="border-top: 1px solid lightgrey">
      <p>Current IP</p>
    </div>
    <div
      class="col-8"
      style="border-top: 1px solid lightgrey; border-left: 1px solid lightgrey"
    >
      <p>{{ plebVPN_status['current_ip'] }}</p>
    </div>
  </div>
  {% if setting['plebVPN'] == "on" %}
  <div class="row">
    <div class="col" style="border-top: 1px solid lightgrey">
      <p>Pleb-VPN IP</p>
    </div>
    <div
      class="col-8"
      style="border-top: 1px solid lightgrey; border-left: 1px solid lightgrey"
    >
      <p>{{ setting['vpnIP'] }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col" style="border-top: 1px solid lightgrey">
      <p>Pleb-VPN Port for VPS</p>
    </div>
    <div
      class="col-8"
      style="border-top: 1px solid lightgrey; border-left: 1px solid lightgrey"
    >
      <p>{{ setting['vpnPort'] }}</p>
    </div>
  </div>
  {% endif %}
  <div class="row">
    <div class="col" style="border-top: 1px solid lightgrey">
      <p>VPN config file exists</p>
    </div>
    <div
      class="col-8"
      style="border-top: 1px solid lightgrey; border-left: 1px solid lightgrey"
    >
      <p>{{ plebVPN_status['config_exists'] }}</p>
    </div>
  </div>
  <div class="row">
    <div class="col" style="border-top: 1px solid lightgrey">
      <p>Firewall config OK</p>
    </div>
    <div
      class="col-8"
      style="border-top: 1px solid lightgrey; border-left: 1px solid lightgrey"
    >
      <p>{{ plebVPN_status['firewall_configured'] }}</p>
    </div>
  </div> -->

  <div class="row">
    <div class="col text-center">
      <button
        type="button"
        class="btn btn-success"
        onClick="refreshplebVPNdata({{ current_user.id }})"
      >
        Refresh Data
      </button>
    </div>
  </div>
  <br />
  <div class="row">
    <div class="col text-center">
      <button
        type="button"
        class="btn btn-success"
        onClick="testScripts({{ current_user.id }})"
      >
        Test scripts
      </button>
    </div>
  </div>
</div>
{% endblock %}
