{% extends "base.html" %} {% block title %}Hybrid{% endblock %} {% block content
%}
<div class="container text-center">
  <div class="row">
    <div class="col">
      <h3>Lightning Node Hybrid Mode</h3>
    </div>
  </div>
  <div class="row">
    <div class="col text-center">
      <button
        id="activate"
        type="button"
        class="btn btn-success"
        onClick="refreshhybriddata({{ current_user.id }})"
      >
        Refesh Data
      </button>
      <button
        id="activate_loading"
        class="btn btn-success d-none"
        type="button"
        disabled
      >
        <span
          class="spinner-grow spinner-grow-sm"
          role="status"
          aria-hidden="true"
        ></span>
        Loading...
      </button>
    </div>
  </div>
</div>
<br />
{% if setting['plebvpn'] != "on" %}
<div class="container">
  <div class="row">
    <div class="col text-center">
      <h5>Pleb-VPN is not connected. Enable Plev-VPN first!</h5>
    </div>
  </div>
</div>
{% else %} {% if lnd %}
<div class="container text-center">
  <div class="row">
    <div class="col text-center">
      <h4>LND Hybrid</h4>
    </div>
  </div>
</div>
<br />

<div class="container container-fluid">
  <div class="row">
    <div class="col text-center">
      <h5>LND Hybrid Status</h5>
    </div>
  </div>
  <div class="row">
    <div class="col" style="border-top: 1px solid lightgrey">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Setting</th>
            <th scope="col">Value</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">LND Alias</th>
            <td>{{ lnd_hybrid_status['Alias'] }}</td>
          </tr>
          <tr>
            <th scope="row">LND Node ID</th>
            <td>{{ lnd_hybrid_status['Node_ID'] }}</td>
          </tr>
          <tr>
            <th scope="row">LND Hybrid Status</th>
            <td>{{ setting['lndhybrid'] }}</td>
          </tr>
          <tr>
            <th scope="row">LND Hybrid Port</th>
            <td>{{ setting['lnport'] }}</td>
          </tr>
          <tr>
            {% if lnd_hybrid_status['address0Type'] == 'torv3' %}
            <th scope="row">LND tor address</th>
            {% else %}
            <th scope="row">LND IPV4 address</th>
            {% endif %}
            <td>{{ lnd_hybrid_status['address0'] }}</td>
          </tr>
          {% if setting['lndhybrid'] == "on" %}
          <tr>
            {% if lnd_hybrid_status['address1Type'] == 'torv3' %}
            <th scope="row">LND tor address</th>
            {% else %}
            <th scope="row">LND IPV4 address</th>
            {% endif %}
            <td>{{ lnd_hybrid_status['address1'] }}</td>
          </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
</div>
<br />

{% if setting['lndhybrid'] != "on" %}
<div class="container">
  {% if setting['lnport'] == '' %}
  <div class="row">
    <div class="col text-center">
      <h5>Add LND Port for hybrid mode</h5>
    </div>
  </div>
  <form method="POST">
    <div class="row">
      <div class="col">
        <p>
          Missing LND Port for hybrid mode. Enter your Pleb-VPN assigned LND
          port.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="lnPort">LND Port</label>
          <input
            type="text"
            class="form-control"
            id="lnPort"
            name="lnPort"
            placeholder="Enter port"
          />
        </div>
        <div class="col">
          <button
            type="button"
            class="btn btn-success"
            onClick="this.form.submit()"
          >
            Set LND Port
          </button>
        </div>
      </div>
    </div>
  </form>
  {% else %}
  <div class="row">
    <div class="col text-center">
      <h5>LND Port detected</h5>
    </div>
  </div>
  <form method="POST">
    <div class="row">
      <div class="col">
        <p>
          Enable LND Hybrid mode
          <small
            >(LND will restart, takes some time, may need to unlock
            wallet)</small
          >
        </p>
      </div>
      <div class="col">
        <button id="lnd_activate" type="button" class="btn btn-success">
          Activate
        </button>
        <button
          id="lnd_activate_loading"
          class="btn btn-success d-none"
          type="button"
          disabled
        >
          <span
            class="spinner-grow spinner-grow-sm"
            role="status"
            aria-hidden="true"
          ></span>
          Loading...
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>LND Port: {{ setting['lnport'] }}</p>
      </div>
    </div>
  </form>
  <form method="POST">
    <div class="row">
      <div class="col text-center">
        <h5>Change LND Port</h5>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="lnPort"
            name="lnPort"
            placeholder="Enter LND port"
          />
        </div>
      </div>
      <div class="col">
        <button
          type="button"
          class="btn btn-success"
          onClick="this.form.submit()"
        >
          Change LND Port
        </button>
      </div>
    </div>
  </form>

  {% endif %}
</div>
{% else %}
<div class="container">
  <div class="row">
    <div class="col text-center">
      <h5>Deactivate LND Hybrid mode</h5>
    </div>
  </div>
  <form method="POST">
    <div class="row">
      <div class="col">
        <p>
          Dectivate LND Hybrid
          <small
            >(LND will restart, takes some time, may need to unlock
            wallet)</small
          >
        </p>
      </div>
      <div class="col">
        <button id="lnd_deactivate" type="button" class="btn btn-danger">
          Dectivate
        </button>
        <button
          id="lnd_deactivate_loading"
          class="btn btn-danger d-none"
          type="button"
          disabled
        >
          <span
            class="spinner-grow spinner-grow-sm"
            role="status"
            aria-hidden="true"
          ></span>
          Loading...
        </button>
      </div>
    </div>
  </form>
</div>
{% endif %} {% endif %} {% if cln %}
<div class="container text-center">
  <div class="row">
    <div class="col">
      <h4>Core Lightning Hybrid</h4>
    </div>
  </div>
</div>
<br />

<div class="row">
  <div class="col text-center">
    <h6>Core Lightning Hybrid Status</h6>
  </div>
</div>
<div class="row">
  <div class="col" style="border-top: 1px solid lightgrey">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Setting</th>
          <th scope="col">Value</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Core Lightning Alias</th>
          <td>{{ cln_hybrid_status['Alias'] }}</td>
        </tr>
        <tr>
          <th scope="row">Core Lightning Node ID</th>
          <td>{{ cln_hybrid_status['Node_ID'] }}</td>
        </tr>
        <tr>
          <th scope="row">Core Lightning Hybrid Status</th>
          <td>{{ setting['clnhybrid'] }}</td>
        </tr>
        <tr>
          <th scope="row">Core Lightning Hybrid Port</th>
          <td>{{ setting['clnport'] }}</td>
        </tr>
        <tr>
          {% if cln_hybrid_status['address0Type'] == 'torv3' %}
          <th scope="row">Core Lightning Tor Address</th>
          {% else %}
          <th scope="row">Core Lightning IPV4 Address</th>
          {% endif %}
          <td>{{ cln_hybrid_status['address0'] }}</td>
        </tr>
        {% if setting['clnhybrid'] == "on" %}
        <tr>
          {% if cln_hybrid_status['address1Type'] == 'torv3' %}
          <th scope="row">Core Lightning Tor Address</th>
          {% else %}
          <th scope="row">Core Lightning IPV4 Address</th>
          {% endif %}
          <td>{{ cln_hybrid_status['address1'] }}</td>
        </tr>
        {% endif %}
      </tbody>
    </table>
  </div>
</div>
<br />

{% if setting['clnhybrid'] != "on" %}
<div class="container">
  {% if setting['clnport'] == '' %}
  <div class="row">
    <div class="col text-center">
      <h5>Add Core Lightning Port for hybrid mode</h5>
    </div>
  </div>
  <form method="POST">
    <div class="row">
      <div class="col">
        <p>
          Missing Core Lightning Port for hybrid mode. Enter your Pleb-VPN
          assigned Core Lightning port.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="clnPort">CLN Port</label>
          <input
            type="text"
            class="form-control"
            id="clnPort"
            name="clnPort"
            placeholder="Enter port"
          />
        </div>
        <div class="col">
          <button
            type="button"
            class="btn btn-success"
            onClick="this.form.submit()"
          >
            Set CLN Port
          </button>
        </div>
      </div>
    </div>
  </form>
  {% else %}
  <div class="row">
    <div class="col text-center">
      <h5>Core Lightning Port detected</h5>
    </div>
  </div>
  <form method="POST">
    <div class="row">
      <div class="col">
        <p>
          Enable Core Lightning Hybrid mode
          <small
            >(CLN will restart, takes some time, may need to unlock
            wallet)</small
          >
        </p>
      </div>
      <div class="col">
        <button id="cln_activate" type="button" class="btn btn-success">
          Activate
        </button>
        <button
          id="cln_activate_loading"
          class="btn btn-success d-none"
          type="button"
          disabled
        >
          <span
            class="spinner-grow spinner-grow-sm"
            role="status"
            aria-hidden="true"
          ></span>
          Loading...
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>CLN Port: {{ setting['clnport'] }}</p>
      </div>
    </div>
  </form>
  <form method="POST">
    <div class="row">
      <div class="col text-center">
        <h5>Change Core Lightning Port</h5>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="clnPort"
            name="clnPort"
            placeholder="Enter CLN port"
          />
        </div>
      </div>
      <div class="col">
        <button
          type="button"
          class="btn btn-success"
          onClick="this.form.submit()"
        >
          Change CLN Port
        </button>
      </div>
    </div>
  </form>

  {% endif %}
</div>
{% else %}
<div class="container">
  <div class="row">
    <div class="col text-center">
      <h5>Deactivate Core Lightning Hybrid mode</h5>
    </div>
  </div>
  <form method="POST">
    <div class="row">
      <div class="col">
        <p>
          Dectivate CLN Hybrid
          <small
            >(CLN will restart, takes some time, may need to unlock
            wallet)</small
          >
        </p>
      </div>
      <div class="col">
        <button id="cln_deactivate" type="button" class="btn btn-danger">
          Dectivate
        </button>
        <button
          id="cln_deactivate_loading"
          class="btn btn-danger d-none"
          type="button"
          disabled
        >
          <span
            class="spinner-grow spinner-grow-sm"
            role="status"
            aria-hidden="true"
          ></span>
          Loading...
        </button>
      </div>
    </div>
  </form>
</div>
{% endif %} {% endif %} {% if not lnd and not cln %}
<div class="container">
  <div class="row">
    <div class="col text-center">
      <h5>
        No node implementation found. Ensure you are running either LND or Core
        Lightning first.
      </h5>
    </div>
  </div>
</div>
{% endif %} {% endif %}
<script>
  var socket = io.connect(
    location.protocol + "//" + document.domain + ":" + location.port
  );
  $("#lnd_activate").click(function (event) {
    event.preventDefault();
    if (
      confirm_dialog(
        (message = "Use the current LND port and enable LND hybrid mode?")
      ) == true
    ) {
      var lndonBtn = document.getElementById("lnd_activate");
      if (lndonBtn !== null) {
        lndonBtn.classList.add("d-none");
      }
      var lndonLoading = document.getElementById("lnd_activate_loading");
      if (lndonLoading !== null) {
        lndonLoading.classList.remove("d-none");
      }
      socket.emit("set_lndHybrid");
    }
  });
  $("#lnd_deactivate").click(function (event) {
    event.preventDefault();
    if (
      confirm_dialog(
        (message = "Are you sure you want to disable LND hybrid mode?")
      ) == true
    ) {
      var lndoffBtn = document.getElementById("lnd_deactivate");
      if (lndoffBtn !== null) {
        lndoffBtn.classList.add("d-none");
      }
      var lndoffLoading = document.getElementById("lnd_deactivate_loading");
      if (lndoffLoading !== null) {
        lndoffLoading.classList.remove("d-none");
      }
      socket.emit("set_lndHybrid");
    }
  });
  socket.on("lndHybrid_set", function (data) {
    var lndonBtn = document.getElementById("lnd_activate");
    if (lndonBtn !== null) {
      lndonBtn.classList.remove("d-none");
    }
    var lndonLoading = document.getElementById("lnd_activate_loading");
    if (lndonLoading !== null) {
      lndonLoading.classList.add("d-none");
    }
    var lndoffBtn = document.getElementById("lnd_deactivate");
    if (lndoffBtn !== null) {
      lndoffBtn.classList.remove("d-none");
    }
    var lndoffLoading = document.getElementById("lnd_deactivate_loading");
    if (lndoffLoading !== null) {
      lndoffLoading.classList.add("d-none");
    }
    var message = data.message;
    var category = data.category;
    var url =
      "/hybrid?message=" +
      encodeURIComponent(message) +
      "&category=" +
      encodeURIComponent(category);
    window.location.href = url;
  });
  $("#cln_activate").click(function (event) {
    event.preventDefault();
    if (
      confirm_dialog(
        (message =
          "Use the current CLN port and enable Core Lightning hybrid mode?")
      ) == true
    ) {
      var clnonBtn = document.getElementById("cln_activate");
      if (clnonBtn !== null) {
        clnonBtn.classList.add("d-none");
      }
      var clnonLoading = document.getElementById("cln_activate_loading");
      if (clnonLoading !== null) {
        clnonLoading.classList.remove("d-none");
      }
      socket.emit("set_clnHybrid");
    }
  });
  $("#cln_deactivate").click(function (event) {
    event.preventDefault();
    if (
      confirm_dialog(
        (message =
          "Are you sure you want to disable Core Lightning hybrid mode?")
      ) == true
    ) {
      var clnoffBtn = document.getElementById("cln_deactivate");
      if (clnoffBtn !== null) {
        clnoffBtn.classList.add("d-none");
      }
      var clnoffLoading = document.getElementById("cln_deactivate_loading");
      if (clnoffLoading !== null) {
        clnoffLoading.classList.remove("d-none");
      }
      socket.emit("set_clnHybrid");
    }
  });
  socket.on("clnHybrid_set", function (data) {
    var clnonBtn = document.getElementById("cln_activate");
    if (clnonBtn !== null) {
      clnonBtn.classList.remove("d-none");
    }
    var clnonLoading = document.getElementById("cln_activate_loading");
    if (clnonLoading !== null) {
      clnonLoading.classList.add("d-none");
    }
    var clnoffBtn = document.getElementById("cln_deactivate");
    if (clnoffBtn !== null) {
      clnoffBtn.classList.remove("d-none");
    }
    var clnoffLoading = document.getElementById("cln_deactivate_loading");
    if (clnoffLoading !== null) {
      clnoffLoading.classList.add("d-none");
    }
    var message = data.message;
    var category = data.category;
    var url =
      "/hybrid?message=" +
      encodeURIComponent(message) +
      "&category=" +
      encodeURIComponent(category);
    window.location.href = url;
  });
</script>
{% endblock %}
