{% extends "base.html" %} {% block title %}LetsEncrypt SSL/https{% endblock %}
{% block content %}
<div class="container text-center">
  <div class="row">
    <div class="col">
      <h3>LetsEncrypt SSL/https for BTCPay/LNBits domain(s)</h3>
    </div>
  </div>
</div>
<br />
{% if setting['plebvpn'] != "on" %}
<div class="container">
  <div class="row">
    <div class="col">
      <h5 align="center">Pleb-VPN is not connected. Enable Plev-VPN first!</h5>
    </div>
  </div>
</div>
{% else %} {% if setting['letsencrypt_ssl'] != "on" %}
<div class="container">
  <div class="row">
    <div class="col">
      <p>
        Input your desired domain(s) and select the service(s) you wish to
        enable ssl/https for.
      </p>
    </div>
  </div>
  <form id="set_letsencrypt_on">
    <div class="row">
      <div class="col" style="border-top: 1px solid lightgrey">
        <table>
          <thead>
            <tr>
              <th scope="col">Service</th>
              <th scope="col">Domain</th>
              <th scope="col">Enable?</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">BTCPayServer</th>
              <td>
                <input
                  type="text"
                  class="form-control"
                  id="btcpaydomain"
                  name="btcpaydomain"
                  placeholder="Enter BTCPayServer Domain"
                />
              </td>
              <td>
                <input
                  class="form-check-input"
                  type="checkbox"
                  role="switch"
                  id="letsencryptbtcpay"
                />
              </td>
            </tr>
            <tr>
              <th scope="row">LNBits</th>
              <td>
                <input
                  type="text"
                  class="form-control"
                  id="lnbitsdomain"
                  name="lnbitsdomain"
                  placeholder="Enter LNBits Domain"
                />
              </td>
              <td>
                <input
                  class="form-check-input"
                  type="checkbox"
                  role="switch"
                  id="letsencryptlnbits"
                />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row" style="margin-top: 0.5em">
      <div class="col text-center">
        <h5>
          IMPORTANT: Before continuing you must ensure your domain(s) above are
          pointing to {{ setting['vpnip'] }}, you must ensure your domain(s) are
          forwarded to the services requested, and you must be ready to update
          the CNAME record of each domain you are requesting a cert for.
        </h5>
      </div>
    </div>
    <div class="row">
      <div class="col text-center">
        <button id="enable_letsencrypt" type="button" class="btn btn-success">
          Get Certs
        </button>
        <button
          id="enable_letsencrypt_loading"
          class="btn btn-success d-none"
          type="button"
          disabled
        >
          <span
            class="spinner-grow spinner-grow-sm"
            role="status"
            aria-hidden="true"
          ></span>
          Loading...
        </button>
        <div id="CNAMEModal" class="modal" tabindex="-1" role="dialog">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">CNAME Challenge</h5>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <pre id="CNAMEText"></pre>
              </div>
              <div class="modal-footer">
                <button id="enterBtn" class="btn btn-primary">Enter</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
{% else %}
<div class="container">
  <div class="row">
    <div class="col">
      <p>LetsEncrypt enabled for the following service(s).</p>
    </div>
  </div>
  <div class="row">
    <div class="col" style="border-top: 1px solid lightgrey">
      <table>
        <tbody>
          <tr>
            <th scope="row">BTCPayServer</th>
            <td>{{ setting['letsencryptbtcpay'] }}</td>
          </tr>
          <tr>
            <th scope="row">LNBits</th>
            <td>{{ setting['letsencryptlnbits'] }}</td>
          </tr>
          {% if setting['letsencryptdomain2'] != "" %}
          <tr>
            <th scope="row">Domain 1</th>
            <td>{{ setting['letsencryptdomain1'] }}</td>
          </tr>
          <tr>
            <th scope="row">Domain 2</th>
            <td>{{ setting['letsencryptdomain2'] }}</td>
          </tr>
          {% else %}
          <tr>
            <th scope="row">Domain</th>
            <td>{{ setting['letsencryptdomain1'] }}</td>
          </tr>
          {% endif %}
        </tbody>
      </table>
    </div>
  </div>
  <div class="row" style="margin-top: 0.5em">
    <div class="col text-center">
      <form id="set_letsencrypt_off">
        <button id="disable_letsencrypt" type="button" class="btn btn-danger">
          Get Certs
        </button>
        <button
          id="disable_letsencrypt_loading"
          class="btn btn-danger d-none"
          type="button"
          disabled
        >
          <span
            class="spinner-grow spinner-grow-sm"
            role="status"
            aria-hidden="true"
          ></span>
          Loading...
        </button>
      </form>
    </div>
  </div>
</div>
{% endif %} {% endif %}
<script>
  var socket = io.connect("http://" + document.domain + ":" + location.port);
  function setLetsencrypt_on(event) {
    event.preventDefault();
    if (
      confirm_dialog(
        (message =
          "Before enabling LetsEncrypt you must have your domain(s) pointed at your node's public IP, you must be ready to enter a CNAME record for each domain, and you must ensure the domain(s) are properly forwarded to the services you wish to enable. Are you ready to continue?")
      ) == true
    ) {
      var activateBtn = document.getElementById("enable_letsencrypt");
      if (activateBtn !== null) {
        activateBtn.classList.add("d-none");
      }
      var activateLoading = document.getElementById(
        "enable_letsencrypt_loading"
      );
      if (activateLoading !== null) {
        activateLoading.classList.remove("d-none");
      }
      var formData = {
        btcpaydomain: $("#btcpaydomain").val(),
        lnbitsdomain: $("#lnbitsdomain").val(),
        letsencryptbtcpay: $("#letsencryptbtcpay").is(":checked"),
        letsencryptlnbits: $("#letsencryptlnbits").is(":checked"),
      };
      socket.emit("set_letsencrypt_on", formData);
    }
  }
  $("#set_letsencrypt_on").submit(setLetsencrypt_on);
  socketio.on("CNAMEoutput", function (CNAME_Challenge) {
    $("#CNAMEText").append(
      CNAME_Challenge +
        '<br><br>First update the CNAME record(s) of your domain(s) as shown above. After the CNAME records are updated, press "Enter" below.'
    );
    $("#CNAMEModal").modal("show");
    $("#enterBtn").click(function () {
      if (
        confirm_dialog(
          (message =
            "Are you sure you have entered your CNAME challenge(s) in your domain record(s) and are ready to continue?")
        ) == true
      ) {
        socket.emit("enter_input");
        $("#CNAMEModal").modal("hide");
      }
    });
  });
  socket.on("letsencrypt_set_on", function (data) {
    var activateBtn = document.getElementById("enable_letsencrypt");
    if (activateBtn !== null) {
      activateBtn.classList.remove("d-none");
    }
    var activateLoading = document.getElementById("enable_letsencrypt_loading");
    if (activateLoading !== null) {
      activateLoading.classList.add("d-none");
    }
    var message = data.message;
    var category = data.category;
    var url =
      "/letsencrypt?message=" +
      encodeURIComponent(message) +
      "&category=" +
      encodeURIComponent(category);
    window.location.href = url;
  });
  function setLetsencrypt_off(event) {
    event.preventDefault();
    if (
      confirm_dialog(
        (message =
          "Are you sure you want to disable LetsEncyrpt and delete your ssl certs?")
      ) == true
    ) {
      var activateBtn = document.getElementById("disable_letsencrypt");
      if (activateBtn !== null) {
        activateBtn.classList.add("d-none");
      }
      var activateLoading = document.getElementById(
        "disable_letsencrypt_loading"
      );
      if (activateLoading !== null) {
        activateLoading.classList.remove("d-none");
      }
      socket.emit("set_letsencrypt_off");
    }
  }
  $("#set_letsencrypt_off").submit(setLetsencrypt_off);
  socket.on("letsencrypt_set_off", function (data) {
    var activateBtn = document.getElementById("disable_letsencrypt");
    if (activateBtn !== null) {
      activateBtn.classList.remove("d-none");
    }
    var activateLoading = document.getElementById(
      "disable_letsencrypt_loading"
    );
    if (activateLoading !== null) {
      activateLoading.classList.add("d-none");
    }
    var message = data.message;
    var category = data.category;
    var url =
      "/letsencrypt?message=" +
      encodeURIComponent(message) +
      "&category=" +
      encodeURIComponent(category);
    window.location.href = url;
  });
</script>
{% endblock %}
