{% extends "base.html" %} {% block title %}Pleb-VPN{% endblock %} {% block
content %}
<div class="container text-center">
  <div class="row">
    <div class="col">
      <h3>LND Hybrid</h3>
    </div>
  </div>
</div>
<br />
{% if setting['plebVPN'] != "on" %}
<div class="container">
  <div class="row">
    <div class="col">
      <h5 align="center">Pleb-VPN is not connected. Enable Plev-VPN first!</h5>
    </div>
  </div>
</div>
{% else %} {% if setting['lndHybrid'] != "on" %}
<div class="container">
  {% if setting['lnPort'] == '' %}
  <div class="row">
    <div class="col">
      <h5 align="center">Add LND Port for hybrid mode</h5>
    </div>
  </div>
  <form method="POST">
    <div class="row">
      <div class="col">
        <p>
          Missing LND Port for hybrid mode. Enter your Pleb-VPN assigned LND
          port.
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="lnPort">LND Port</label>
          <input
            type="text"
            class="form-control"
            id="lnPort"
            name="lnPort"
            placeholder="Enter port"
          />
        </div>
        <div class="col">
          <button
            type="button"
            class="btn btn-success"
            onClick="this.form.submit()"
          >
            Set LND Port
          </button>
        </div>
      </div>
    </div>
  </form>
  {% else %}
  <div class="row">
    <div class="col">
      <h5 align="center">LND Port detected</h5>
    </div>
  </div>
  <form method="POST">
    <div class="row">
      <div class="col">
        <p>Enable LND Hybrid mode</p>
      </div>
      <div class="col">
        <button
          id="activate"
          type="button"
          class="btn btn-success"
          onClick="setlndHybrid_on({{ current_user.id }})"
        >
          Activate
        </button>
        <button
          id="activate_loading"
          class="btn btn-success d-none"
          type="button"
          disabled
        >
          <span
            class="spinner-grow spinner-grow-sm"
            role="status"
            aria-hidden="true"
          ></span>
          Loading...
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>LND Port: {{ setting['lnPort'] }}</p>
      </div>
    </div>
  </form>
  <form method="POST">
    <div class="row">
      <div class="col">
        <p>Change LND Port</p>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            id="lnPort"
            name="lnPort"
            placeholder="Enter LND port"
          />
        </div>
      </div>
      <div class="col">
        <button
          type="button"
          class="btn btn-success"
          onClick="this.form.submit()"
        >
          Change LND Port
        </button>
      </div>
    </div>
  </form>

  {% endif %}
</div>
{% else %}
<div class="container">
  <div class="row">
    <div class="col">
      <h5 align="center">Deactivate LND Hybrid mode</h5>
    </div>
  </div>
  <form method="POST">
    <div class="row">
      <div class="col">
        <p>Dectivate LND Hybrid</p>
      </div>
      <div class="col">
        <button
          id="deactivate"
          type="button"
          class="btn btn-danger"
          onClick="setlndHybrid_off({{ current_user.id }})"
        >
          Dectivate
        </button>
        <button
          id="deactivate_loading"
          class="btn btn-danger d-none"
          type="button"
          disabled
        >
          <span
            class="spinner-grow spinner-grow-sm"
            role="status"
            aria-hidden="true"
          ></span>
          Loading...
        </button>
      </div>
    </div>
  </form>
</div>
{% endif %} {% endif %} {% endblock %}
