{% extends "base.html" %} {% block title %}Payments{% endblock %} {% block
content %}
<div class="container text-center">
  <div class="row">
    <div class="col">
      <h3>Manage Payments</h3>
    </div>
  </div>
</div>
<br />
<div class="container">
  {% if current_payments is not none %}
  <div class="row">
    <div class="col">
      <h4 align="center">Current Payments</h4>
    </div>
  </div>
  {% if current_payments['daily']|length > 0 %}
  <div class="row">
    <div class="col text-center">
      <div class="row">
        <h5>Daily Payments</h5>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col" style="border-top: 1px solid lightgrey">
      {% for line in current_payments['daily'] %}
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col">
              <h6>Payment ID</h6>
            </div>
            <div class="col">
              <h7>{{ line[0] }}</h7>
            </div>
          </div>
          <br />
          <br />
          <div class="row">
            <div class="col text-center">
              <button
                id="send_payment"
                type="button"
                class="btn btn-success"
                onClick="send_payment({{ line[0] }})"
              >
                Send Now
              </button>
            </div>
            <div class="col text-center">
              <button id="edit_payment" type="button" class="btn btn-primary">
                Edit
              </button>
            </div>
            <div class="col text-center">
              <button
                id="delete_payment"
                type="button"
                class="btn btn-danger"
                onClick="delete_payment({{ line[0] }})"
              >
                Delete
              </button>
            </div>
          </div>
        </div>

        <div class="col-8">
          <table class="table">
            <tbody>
              <tr>
                <th scope="row">Destination Pubkey</th>
                <td>{{ line[1] }}</td>
              </tr>
              <tr>
                <th scope="row">Amount</th>
                <td>{{ line[2] }}</td>
              </tr>
              <tr>
                <th scope="row">Denomination</th>
                <td>{{ line[3] }}</td>
              </tr>
              <tr>
                <th scope="row">Message</th>
                <td>{{ line[4] }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  {% endif %} {% if current_payments['weekly']|length > 0 %}
  <div class="row">
    <div class="col text-center">
      <h5>Weekly Payments</h5>
    </div>
  </div>
  <div class="row">
    <div class="col" style="border-top: 1px solid lightgrey">
      {% for line in current_payments['weekly'] %}
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col">
              <h6>Payment ID</h6>
            </div>
            <div class="col">
              <h7>{{ line[0] }}</h7>
            </div>
          </div>
          <br />
          <br />
          <div class="row">
            <div class="col text-center">
              <button
                id="send_payment"
                type="button"
                class="btn btn-success"
                onClick="send_payment({{ line[0] }})"
              >
                Send Now
              </button>
            </div>
            <div class="col text-center">
              <button id="edit_payment" type="button" class="btn btn-primary">
                Edit
              </button>
            </div>
            <div class="col text-center">
              <button
                id="delete_payment"
                type="button"
                class="btn btn-danger"
                onClick="delete_payment({{ line[0] }})"
              >
                Delete
              </button>
            </div>
          </div>
        </div>

        <div class="col-8">
          <table class="table">
            <tbody>
              <tr>
                <th scope="row">Destination Pubkey</th>
                <td>{{ line[1] }}</td>
              </tr>
              <tr>
                <th scope="row">Amount</th>
                <td>{{ line[2] }}</td>
              </tr>
              <tr>
                <th scope="row">Denomination</th>
                <td>{{ line[3] }}</td>
              </tr>
              <tr>
                <th scope="row">Message</th>
                <td>{{ line[4] }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  {% endif %} {% if current_payments['monthly']|length > 0 %}
  <div class="row">
    <div class="col text-center">
      <h5>Monthly Payments</h5>
    </div>
  </div>
  <div class="row">
    <div class="col" style="border-top: 1px solid lightgrey">
      {% for line in current_payments['monthly'] %}
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col">
              <h6>Payment ID</h6>
            </div>
            <div class="col">
              <h7>{{ line[0] }}</h7>
            </div>
          </div>
          <br />
          <br />
          <div class="row">
            <div class="col text-center">
              <button
                id="send_payment"
                type="button"
                class="btn btn-success"
                onClick="send_payment({{ line[0] }})"
              >
                Send Now
              </button>
            </div>
            <div class="col text-center">
              <button id="edit_payment" type="button" class="btn btn-primary">
                Edit
              </button>
            </div>
            <div class="col text-center">
              <button
                id="delete_payment"
                type="button"
                class="btn btn-danger"
                onClick="delete_payment({{ line[0] }})"
              >
                Delete
              </button>
            </div>
          </div>
        </div>

        <div class="col-8">
          <table class="table">
            <tbody>
              <tr>
                <th scope="row">Destination Pubkey</th>
                <td>{{ line[1] }}</td>
              </tr>
              <tr>
                <th scope="row">Amount</th>
                <td>{{ line[2] }}</td>
              </tr>
              <tr>
                <th scope="row">Denomination</th>
                <td>{{ line[3] }}</td>
              </tr>
              <tr>
                <th scope="row">Message</th>
                <td>{{ line[4] }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  {% endif %} {% if current_payments['yearly']|length > 0 %}
  <div class="row">
    <div class="col text-center">
      <h5>Yearly Payments</h5>
    </div>
  </div>
  <div class="row">
    <div class="col" style="border-top: 1px solid lightgrey">
      {% for line in current_payments['yearly'] %}
      <div class="row">
        <div class="col">
          <div class="row">
            <div class="col">
              <h6>Payment ID</h6>
            </div>
            <div class="col">
              <h7>{{ line[0] }}</h7>
            </div>
          </div>
          <br />
          <br />
          <div class="row">
            <div class="col text-center">
              <button
                id="send_payment"
                type="button"
                class="btn btn-success"
                onClick="send_payment({{ line[0] }})"
              >
                Send Now
              </button>
            </div>
            <div class="col text-center">
              <button id="edit_payment" type="button" class="btn btn-primary">
                Edit
              </button>
            </div>
            <div class="col text-center">
              <button
                id="delete_payment"
                type="button"
                class="btn btn-danger"
                onClick="delete_payment({{ line[0] }})"
              >
                Delete
              </button>
            </div>
          </div>
        </div>

        <div class="col-8">
          <table class="table">
            <tbody>
              <tr>
                <th scope="row">Destination Pubkey</th>
                <td>{{ line[1] }}</td>
              </tr>
              <tr>
                <th scope="row">Amount</th>
                <td>{{ line[2] }}</td>
              </tr>
              <tr>
                <th scope="row">Denomination</th>
                <td>{{ line[3] }}</td>
              </tr>
              <tr>
                <th scope="row">Message</th>
                <td>{{ line[4] }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>

  {% endif %} {% endif %}
</div>
<br />
<div class="container">
  <div class="row">
    <div class="col text-center">
      <h4>Schedule New Payment</h4>
    </div>
  </div>
  <div class="row style="border-top: 1px solid lightgrey">
  <form method="POST">

      <div class="col text-center">
        <div class="row">
          <h5>Frequency</h5>
        </div>
        <div class="row">
          <label for="frequency"
            >Select how often you want to submit this payment:</label
          >
          <select class="form-control" id="frequency" name="frequency">
            <option value="daily">Daily</option>
            <option value="weekly">Weekly</option>
            <option value="monthly">Monthly</option>
            <option value="yearly">Yearly</option>
          </select>
        </div>
        <br />
        <div class="row">
            <div class="col text-center">
              <button
                type="button"
                class="btn btn-success"
                onClick="this.form.submit()"
              >
                Schedule New Payment
              </button>
            </div>
      </div>

      <div class="col-8">
        <table class="table">
          <tbody>
            <tr>
              <th scope="row">Destination Pubkey</th>
              <td>
                <input
                  type="text"
                  id="pubkey"
                  name="pubkey"
                  placeholder="Enter Destination Pubkey"
                />
              </td>
            </tr>
            <tr>
              <th scope="row">
                Amount in sats or USD (use format x.xx for USD)
              </th>
              <td>
                <input
                  type="text"
                  id="amount"
                  name="amount"
                  placeholder="Enter Amount"
                />
              </td>
            </tr>
            <tr>
              <th scope="row">Denomination</th>
              <td>
                <label for="denomination">Choose sats or USD</label>
                <select
                  class="form-control"
                  id="denomination"
                  name="denomination"
                >
                  <option value="sats">sats</option>
                  <option value="USD">USD</option>
                </select>
              </td>
            </tr>
            <tr>
              <th scope="row">Message</th>
              <td>
                <input
                  type="text"
                  id="amount"
                  name="amount"
                  placeholder="Enter Amount"
                />
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      </div>
    
  </form>
</div>
<br />
  <div class="row">
    <div class="col text-center">
      <div class="row text-center">
        <h4>Delete All Payments</h4>
      </div>
      <div class="row">
        <div class="col text-center">
          <button
            id="delete_all_payments"
            type="button"
            class="btn btn-danger"
            onClick="delete_all_payments({{ current_user.id }})"
          >
            Delete All
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
