{% extends "base.html" %} {% block title %}Pleb-VPN{% endblock %} {% block
content %}
<div class="container text-center">
  <div class="row">
    <div class="col">
      <img
        src="{{ url_for('static', filename='PlebNet_logo.png') }}"
        height="50"
        alt="PlebNet logo"
        loading="lazy"
      />
    </div>
    <div class="col-6">
      <h1>Pleb-VPN Settings</h1>
    </div>
    <div class="col">
      <img
        src="{{ url_for('static', filename='OpenVPN_logo.png') }}"
        height="50"
        alt="OpenVPN logo"
        loading="lazy"
      />
    </div>
  </div>
</div>
<br />
{% if setting['plebVPN'] != "on" %} {% if plebVPN_status['config_exists'] !=
"yes" %}
<div class="container">
  <div class="row">
    <div class="col">
      <h2 align="center">Upload plebvpn.conf file</h2>
    </div>
  </div>
  <form method="POST" enctype="multipart/form-data">
    <div class="row">
      <div class="col">
        <input type="file" name="plebvpn_conf" />
      </div>
      <div class="col">
        <button
          type="button"
          class="btn btn-success"
          onClick="this.form.submit()"
        >
          Upload plebvpn.conf
        </button>
      </div>
    </div>
  </form>
</div>
{% else %}
<div class="container">
  <div class="row">
    <div class="col">
      <h2 align="center">plebvpn.conf file detected</h2>
    </div>
  </div>
  <form method="POST">
    <div class="row">
      <div class="col">
        <p>Activate Pleb-VPN</p>
      </div>
      <div class="col">
        <button
          id="activate"
          type="button"
          class="btn btn-success"
          onClick="setplebVPN_on({{ current_user.id }})"
        >
          Activate
        </button>
        <button
          id="activate_loading"
          class="btn btn-success d-none"
          type="button"
          disabled
        >
          <span
            class="spinner-grow spinner-grow-sm"
            role="status"
            aria-hidden="true"
          ></span>
          Loading...
        </button>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <p>Delete plebvpn.conf</p>
      </div>
      <div class="col">
        <button
          type="button"
          class="btn btn-danger"
          onClick="delete_plebvpn_conf({{ current_user.id }})"
        >
          Delete
        </button>
      </div>
    </div>
  </form>
</div>
{% endif %} {% else %}
<div class="container">
  <div class="row">
    <div class="col">
      <h2 align="center">Deactivate Pleb-VPN</h2>
    </div>
  </div>
  <form method="POST">
    <div class="row">
      <div class="col">
        <p>Dectivate Pleb-VPN</p>
      </div>
      <div class="col">
        <button
          id="deactivate"
          type="button"
          class="btn btn-danger"
          onClick="setplebVPN_off({{ current_user.id }})"
        >
          Dectivate
        </button>
        <button
          id="deactivate_loading"
          class="btn btn-danger d-none"
          type="button"
          disabled
        >
          <span
            class="spinner-grow spinner-grow-sm"
            role="status"
            aria-hidden="true"
          ></span>
          Loading...
        </button>
      </div>
    </div>
  </form>
</div>
<!-- // This is for showing/hinding loading buttons when using SocketIO to communicate. For POST forms, see index.js.
  <script> 
  var socket = io.connect("http://" + document.domain + ":" + location.port);
  document.addEventListener("DOMContentLoaded", function () {
    // Set the style of the regular button to display by default
    document.getElementById("activate").style.display = "inline-block";
    document.getElementById("deactivate").style.display = "inline-block";
  });
  socket.on("process_started", function () {
    document.getElementById("activate").style.display = "none";
    document.getElementById("activate_loading").style.display = "inline-block";
    document.getElementById("deactivate").style.display = "none";
    document.getElementById("deactivate_loading").style.display =
      "inline-block";
  });
  socket.on("process_completed", function () {
    document.getElementById("activate").style.display = "inline-block";
    document.getElementById("activate_loading").style.display = "none";
    document.getElementById("deactivate").style.display = "inline-block";
    document.getElementById("deactivate_loading").style.display = "none";
  });
</script> -->
{% endif %} {% endblock %}
