{% extends "base.html" %} {% block title %}tor Split-Tunnel{% endblock %} {%
block content %}
<div class="container text-center">
  <div class="row">
    <div class="col">
      <h3>Tor Split-Tunneling</h3>
    </div>
  </div>
</div>
<br />
{% if setting['plebvpn'] != "on" %}
<div class="container">
  <div class="row">
    <div class="col text-center">
      <h5>Pleb-VPN is not connected. Enable Plev-VPN first!</h5>
    </div>
  </div>
</div>
{% else %} {% if setting['torsplittunnel'] != "on" %}
<div class="container">
  <form method="POST">
    <div class="row">
      <div class="col">
        <p>Enable tor split-tunneling for redundency in case VPN goes down</p>
      </div>
      <div class="col">
        <button
          id="activate"
          type="button"
          class="btn btn-success"
          onClick="settorsplittunnel_on({{ current_user.id }})"
        >
          Activate
        </button>
        <button
          id="activate_loading"
          class="btn btn-success d-none"
          type="button"
          disabled
        >
          <span
            class="spinner-grow spinner-grow-sm"
            role="status"
            aria-hidden="true"
          ></span>
          Loading...
        </button>
      </div>
    </div>
  </form>
</div>
{% else %}

<div class="row">
  <div class="col">
    <div class="row">
      <div class="col text-center">
        <h5>Tor Split-Tunnel Status</h5>
      </div>
    </div>
    {% if torsplittunnel_test_status['message'] != null %}
    <div class="row">
      <div class="col text-center" style="border-top: 1px solid lightgrey">
        <h7>{{ torsplittunnel_test_status['message'] }}</h7>
      </div>
    </div>
    {% else %} {% if torsplittunnel_status['message'] != null %}
    <div class="row">
      <div class="col text-center" style="border-top: 1px solid lightgrey">
        <h7>{{ torsplittunnel_status['message'] }}</h7>
      </div>
    </div>
    {% endif %} {% endif %}

    <div class="row">
      <div class="col" style="border-top: 1px solid lightgrey">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Setting</th>
              <th scope="col">Value</th>
            </tr>
          </thead>
          <tbody>
            {% if torsplittunnel_test_status['message'] != null %}
            <tr>
              <th scope="row">tor split-tunnel test passed?</th>
              <td>{{ torsplittunnel_test_status['split_tunnel_working'] }}</td>
            </tr>
            {% else %}
            <tr>
              <th scope="row">tor split-tunnel status</th>
              <td>{{ setting['torsplittunnel'] }}</td>
            </tr>
            {% endif %}
            <tr>
              <th scope="row">nftables config status</th>
              <td>{{ torsplittunnel_status['nftableStatus'] }}</td>
            </tr>
            <tr>
              <th scope="row">iptables config status</th>
              <td>{{ torsplittunnel_status['iptableStatus'] }}</td>
            </tr>
            <tr>
              <th scope="row">ip route config status</th>
              <td>{{ torsplittunnel_status['iprouteStatus'] }}</td>
            </tr>
            <tr>
              <th scope="row">cgroup config status</th>
              <td>{{ torsplittunnel_status['cgroupStatus'] }}</td>
            </tr>
            {% if torsplittunnel_test_status['message'] != null %}
            <tr>
              <th scope="row">VPN Operating</th>
              <td>{{ torsplittunnel_test_status['vpn_operating'] }}</td>
            </tr>
            <tr>
              <th scope="row">Firewall config ok</th>
              <td>{{ torsplittunnel_test_status['firewall_ok'] }}</td>
            </tr>
            {% endif%}
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <form method="POST">
    <div class="row">
      <div class="col">
        <p>Test tor split-tunneling config</p>
      </div>
      <div class="col">
        <button
          id="test"
          type="button"
          class="btn btn-primary"
          onClick="test_torsplittunnel({{ current_user.id }})"
        >
          Test
        </button>
        <button
          id="test_loading"
          class="btn btn-primary d-none"
          type="button"
          disabled
        >
          <span
            class="spinner-grow spinner-grow-sm"
            role="status"
            aria-hidden="true"
          ></span>
          Loading...
        </button>
      </div>
    </div>
  </form>
</div>

<div class="container">
  <form method="POST">
    <div class="row">
      <div class="col">
        <p>Disable tor split-tunneling</p>
      </div>
      <div class="col">
        <button
          id="deactivate"
          type="button"
          class="btn btn-danger"
          onClick="settorsplittunnel_off({{ current_user.id }})"
        >
          Deactivate
        </button>
        <button
          id="deactivate_loading"
          class="btn btn-danger d-none"
          type="button"
          disabled
        >
          <span
            class="spinner-grow spinner-grow-sm"
            role="status"
            aria-hidden="true"
          ></span>
          Loading...
        </button>
      </div>
    </div>
  </form>
</div>
{% endif %} {% endif %} {% endblock %}
